# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# System files
.DS_Store

# Test files
**/*.test.js

# Documentation
README.md

# GitHub Actions workflow
.github/

# Docker specific files
Dockerfile
docker-compose.yml
.dockerignore

# Jest configuration
jest.config.js

# Local environment files
.env
